.app-header {
  background-color:#333842;/*grey*/
  color:#efe51a;/*yellow*/
  font-size: 4em;
  width:100%;
  letter-spacing: 11px;
}

.div1{
  background-color:#333842;
  align-content: center;
  text-align: center;
  height: 100px;
  padding: 0;
  float:left;
  margin-bottom: 40px;

}
.empty{
  float:left;
  background-color:#efe51a;/*yellow*/
  height: 100px;
}
.div2{
  background-color:#efe51a;/*yellow*/
  height: 100px;
  padding: 0;
  margin-bottom: 40px;
  float:right;
}
